{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Beep {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

     <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
</head>
<body>
{% block content %}
        <!-- Content for each page will go here -->
{% endblock %}
{% block sidebar %}
<div class="fixed bottom-0 z-50 w-full -translate-x-1/2 bg-gray-800 border-t border-gray-200 left-1/2 dark:bg-gray-700 dark:border-gray-600">
    <div class="grid h-full max-w-lg grid-cols-5 mx-auto">
        <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
         <a href="#"><img src="{% static 'images/invite.png'%}" alt="Rocket" class="w-5 h-5 mb-1 group-hover:opacity-95"></a>
        <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Invite</span>

        </button>
        <div id="tooltip-home" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Home
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
        <!-- Rocket Button -->
<button data-tooltip-target="tooltip-rocket" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="{% url 'boost' %}"> <img src="{% static 'images/shuttle.png'%}"   alt="Rocket" class="w-5 h-5 mb-1 group-hover:opacity-95"></a>
  <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Boost</span>

</button>
<div id="tooltip-rocket" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Rocket
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>

 <!-- Home Button -->
<button data-tooltip-target="tooltip-invite" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="/"> <img src="{% static 'images/home.png'%}" alt="Invite" class="w-5 h-5 mb-1 group-hover:opacity-95"></a>
    <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Home</span>
</button>
<div id="tooltip-invite" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Home
    <div class="tooltip-arrow" data-popper-arrow></div>
</div> 

<!-- Task Button -->
<button data-tooltip-target="tooltip-invite" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="{% url 'task' %}"> <img src="{% static 'images/task.png'%}" alt="Invite" class="w-5 h-5 mb-1 group-hover:opacity-95"></a>
    <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Task</span>
</button>
<div id="tooltip-invite" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Task
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>




<!-- Leaderboard Button -->
<button data-tooltip-target="tooltip-wallet" type="button" class="inline-flex flex-col items-center justify-center p-4 hover:bg-gray-50 dark:hover:bg-gray-800 group">
   <a href="{% url 'leaderboard' %}"> <img src= "{% static 'images/leaderboard.png'%}" alt="Wallet" class="w-5 h-5 mb-1 group-hover:opacity-95"></a>
  <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">Rank</span>

</button>
<div id="tooltip-wallet" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Wallet
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
</div>
{% endblock %}
</body>
</html>
